<template>
  <v-ons-page>
    <v-ons-toolbar class="create-todo-toolbar">
      <div class="left">
        <v-ons-back-button @click="$emit('pop-page')">Cancel</v-ons-back-button>
      </div>
      <div class="center">Create Todo</div>
    </v-ons-toolbar>

    <div class="content">
      <v-ons-list style="margin-top: 17px;">
        <v-ons-list-item>
          <div class="center" style="padding-top: 0; padding-bottom: 0;">
            <v-ons-input type="text" placeholder="Title" style="width: 100%;" ></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center" style="padding-top: 0; padding-bottom: 0;">
            <v-ons-input type="text" placeholder="Description" style="width: 100%;"></v-ons-input>
          </div>
        </v-ons-list-item>
      </v-ons-list>
    </div>

  </v-ons-page>
</template>

<script>
  export default {
  }
</script>
