<template>
  <v-ons-page>
    <v-ons-toolbar class="todos-toolbar">
      <div class="left">
        <v-ons-toolbar-button @click="$store.commit('splitter/toggle')">
          <v-ons-icon icon="md-menu"></v-ons-icon>
        </v-ons-toolbar-button>
      </div>
      <div class="center">{{ msg }}</div>
    </v-ons-toolbar>

    <div class="todos-list">
      <v-ons-list>
        <v-ons-list-header>Pending Todos</v-ons-list-header>
        <v-ons-list-item v-for="(todo, $index) in todos.pending" :key="$index">
          <div class="left">
            <v-ons-checkbox :input-id="'p-' + todo.id" :value="todo.id"></v-ons-checkbox>
          </div>
          <div class="center">
            <label :for="'p-' + todo.id">{{todo.text}}</label>
          </div>
        </v-ons-list-item>
      </v-ons-list>

      <v-ons-list style="margin-top: 33px;">
        <v-ons-list-header>Completed</v-ons-list-header>
        <v-ons-list-item v-for="(todo, $index) in todos.completed" :key="$index">
          <div class="left">
            <v-ons-checkbox :input-id="'c-' + todo.id" :value="todo.id" v-model="todo.checked"></v-ons-checkbox>
          </div>
          <div class="center" style="text-decoration: line-through">{{todo.text}}</div>
        </v-ons-list-item>
      </v-ons-list>
    </div>

    <v-ons-fab position="bottom right" @click="showCreateTodo">
      <v-ons-icon icon="md-plus"></v-ons-icon>
    </v-ons-fab>

  </v-ons-page>
</template>

<script>
import CreateTodo from './CreateTodo'

export default {
  data () {
    return {
      msg: 'Todos',
      todos: {
        pending: [
          {
            id: 1,
            text: 'Go to market'
          }, {
            id: 2,
            text: 'Drink lot of water'
          }, {
            id: 3,
            text: 'Buy some oranges'
          }, {
            id: 4,
            text: 'Locking up front door before leave'
          }
        ],
        completed: [
          {
            id: 99,
            text: 'Take a morning coffee',
            checked: true
          }, {
            id: 100,
            text: 'Say hello to everyone',
            checked: true
          }
        ]
      },
      essentialLinks: [
        {
          label: 'Core Docs',
          link: 'https://vuejs.org',
          icon: 'fa-book'
        },
        {
          label: 'Community Chat',
          link: 'https://chat.vuejs.org',
          icon: 'fa-commenting'
        },
        {
          label: 'Forum',
          link: 'https://forum.vuejs.org',
          icon: 'ion-chatboxes'
        },
        {
          label: 'Twitter',
          link: 'https://twitter.com/vuejs',
          icon: 'fa-twitter'
        },
        {
          label: 'Docs for this template',
          link: 'http://vuejs-templates.github.io/webpack/',
          icon: 'fa-file-text'
        }
      ]
    }
  },
  methods: {
    goTo (url) {
      window.open(url, '_blank')
    },
    showCreateTodo () {
      console.log(this)
      document.getElementById('side-menu').removeAttribute('swipeable')
      this.$emit('push-page', CreateTodo)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header {
  text-align: center;
}

img {
  max-width: 300px;
}

ons-list-title {
  text-transform: none;
}

ons-list-title:not(:first-of-type) {
  margin-top: 30px;
}

ons-card {
  text-align: center;
}

ons-list-item, ons-card {
  cursor: pointer;
}
</style>
