<template>
  <div id="app">
    <v-ons-page>
      <v-ons-splitter>
        <v-ons-splitter-side id="side-menu"
          swipeable collapse width="80%"
          :animation="$ons.platform.isAndroid() ? 'overlay' : 'reveal'"
          :open.sync="menuIsOpen">
          <navigation></navigation>
        </v-ons-splitter-side>

        <v-ons-splitter-content>
          <v-ons-navigator
            :page-stack="pageStack"
            :animation="animation"
            @push-page="pageStack.push($event)"
            @pop-page="pageStack.pop()"
          ></v-ons-navigator>
        </v-ons-splitter-content>
      </v-ons-splitter>

    </v-ons-page>
  </div>
</template>

<script>
import Navigation from './components/Navigation'
import Todos from './components/Todos'

export default {
  name: 'wis',
  data () {
    return {
      pageStack: [
        Todos
      ],
      animation: 'slide'
    }
  },
  computed: {
    menuIsOpen: {
      get () {
        return this.$store.state.splitter.open
      },
      set (newValue) {
        this.$store.commit('splitter/toggle', newValue)
      }
    }
  },
  components: { Navigation }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ons-splitter-side[side=left][animation=overlay] {
  border-right: 1px solid #BBB;
}
</style>
